<div class="question-container">
  <app-question [question]="questionnaireQuestions[currentQuestionIndex]"></app-question>

  <h4>
    Question {{ currentQuestionIndex + 1 }} /
    {{ questionnaireQuestions.length }}
  </h4>

  <div class="button-container">
    <button
      (click)="previousQuestion()"
      [disabled]="currentQuestionIndex === 0"
    >
      Précédent
    </button>
    <button
      (click)="nextQuestion()"
      [disabled]="currentQuestionIndex === questionnaireQuestions.length - 1"
    >
      Suivant
    </button>
  </div>
</div>
